header{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title{
  font-family: sans-serif;
}

.total-income{
  color: red;
  font-weight: bold;
  font-size: 30px;
}
.income-form{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.form-inner{
  display: flex;
  flex-direction: row;
}
#desc,#date,#price,#add{
  margin: 20px;
  
}

